<section class="footerthird mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 linkcenter">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#">
                            Terms and Conditions
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Hyperlink Policy
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Copyright Policy
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            Disclaimer
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="footerSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>                       
                    Content Owned and Maintained by eCounselling Division.<br />
                    Designed, Developed and Hosted by <a href="http://www.nic.in/" target="_blank"
                        onclick="return confirm('You are being redirected to an external website. ');"
                        title="National Informatics Centre">National Informatics Centre</a>,<br />
                    <a href="http://meity.gov.in/" target="_blank"
                        onclick="return confirm('You are being redirected to an external website. ');"
                        title="Ministry of Electronics &amp; Information Technology">Ministry of Electronics &amp;
                        Information Technology</a>, Government of India
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <footer class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-between">                    
                <p>
                    This site is designed, developed, maintained and hosted by National Informatics Centre (NIC),
                    <br>
                    Ministry of Electronics & Information Technology. Government of India
                </p>
                <a href="#">
                    <img class="img-fluid mb-3" src="images/logogk.png">
                </a>
            </div>
        </div>
    </div>
</footer> -->
<!--close footer-->
<a href="javascript:void(0);" class="backtotop" title="Back to top"> <i class="fa fa-arrow-up"></i></a>