<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card-form shadow mt-4 pt-0 sideMenu" style="min-height: 313px;">
                <app-side-navbar></app-side-navbar>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-form shadow mt-4 pb-2 p-4">
                <p class="fw-bold pb-2">Service Request
                    <button class="btn btn-warning btn-sm pull-right">
                        <i class="fa fa-plus"></i> Add Service Request
                    </button>
                </p>
                <div class="row row-sm">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12 mb-4">
                        <div class="card bg-primary-gradient">
                            <div class="px-3 pt-3 pb-2">
                                <h6 class="mb-3 tx-12 text-white">Total</h6>
                                <div class="pb-0 mt-0">
                                    <div class="d-flex">
                                        <h4 class="tx-20 fw-bold mb-1 text-white">5,74.12</h4>
                                        <span class="float-end my-auto ms-auto">
                                            <i class="fa fa-arrow-circle-up text-white"></i>
                                            <span class="text-white op-7"> +427</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12 mb-4">
                        <div class="card bg-danger-gradient">
                            <div class="px-3 pt-3 pb-2">
                                <h6 class="mb-3 tx-12 text-white">Accepted</h6>
                                <div class="pb-0 mt-0">
                                    <div class="d-flex">
                                        <h4 class="tx-20 fw-bold mb-1 text-white">5,74.12</h4>
                                        <span class="float-end my-auto ms-auto">
                                            <i class="fa fa-arrow-circle-up text-white"></i>
                                            <span class="text-white op-7"> +427</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12 mb-4">
                        <div class="card bg-success-gradient">
                            <div class="px-3 pt-3 pb-2">
                                <h6 class="mb-3 tx-12 text-white">Returned</h6>
                                <div class="pb-0 mt-0">
                                    <div class="d-flex">
                                        <h4 class="tx-20 fw-bold mb-1 text-white">5,74.12</h4>
                                        <span class="float-end my-auto ms-auto">
                                            <i class="fa fa-arrow-circle-up text-white"></i>
                                            <span class="text-white op-7"> +427</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12 mb-4">
                        <div class="card bg-warning-gradient">
                            <div class="px-3 pt-3 pb-2">
                                <h6 class="mb-3 tx-12 text-white">Closed</h6>
                                <div class="pb-0 mt-0">
                                    <div class="d-flex">
                                        <h4 class="tx-20 fw-bold mb-1 text-white">5,74.12</h4>
                                        <span class="float-end my-auto ms-auto">
                                            <i class="fa fa-arrow-circle-up text-white"></i>
                                            <span class="text-white op-7"> +427</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-form shadow mt-4 p-4" style="width:100%; height: 350px;">
                        <p class="fw-bold pb-1">Chart 1</p>
                        <canvas id="myChart" style="width:100%; height: 280px;"></canvas>
                    </div>
                </div>                    
            </div>

        </div>
    </div>
</div>