<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card-form shadow mt-4 pt-0 sideMenu" style="min-height: 313px;">
                <app-side-navbar></app-side-navbar>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-form shadow mt-4 pt-3 p-4 leftSideContent">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="fw-bold pb-1">
                            My Profile            
                        </p>                        
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>